.peculiarities-list__item {
    width: 450px;
    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }
}

.pec-item-block {
    height: 120px;
    background-color: #F5F4FA; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pec-item-block__icons {
    display: flex;
    justify-content: center;
    align-items: center;

}


.peculiarities {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 0px;
    

}
.peculiarities-list {     
    // display: flex;
    align-content: center;
    align-items: center;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    
}

.peculiarities-list__item {
    margin-bottom: 30px;
    @media screen and (min-width:768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    @media screen and (min-width:1200px) {
        width: calc(100% / 4 - 30px);
        margin-left: 30px;
    }
}

.peculiarities-list__titel {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    @media screen and (min-width:768px) {
        justify-content: left;
    }
}


.peculiarities-list__after-titel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    height: 75px;
}