.team {
    background-color: #F5F4FA;
}

.team__titel {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}  
.team-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
}

.team-list__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
    margin-right: 30px;
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-list__prof {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.social__item {
    & + &  { margin-left: 10px;
    }
}

.social__link {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: #2196F3; 
    }
} 

.social__icons{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social__link:focus &, .social__link:hover & {
        fill: #FFFFFF;}
}

